.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.calculator {
    height: 795x;
    width: 450px;
    border: solid 1px black;
    border-radius: 50px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.display {
    height: 70px;
    width: 425px;
    border: solid 1px black;
    border-radius: 30px;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.content {
    font-size: 80px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

button {
    font-size: 48px;
    height: 90px;
    width: 90px;
    border-radius: 30px;
}

button:hover {
    background-color: darkgray;
}